/* org-mode picture imports */
img.org-upload {
    float:right;
    border: 1px solid black;
    padding:1px;
    margin:2px;
    max-height:140px;
}

/* make org-mode timestamps work */
/* there is also stuff in functions.php to get rid of undesired brackets */
.timestamp {
    color: grey;
}

.outline-2 {
 }
.outline-3 {
    border-top: 1px gray solid;
   padding-left: 30px;

}

.outline-3:last-child {
    border-bottom:1px gray solid;
}
.outline-3:first-child {
    border-width: 0px;
}
/* Source code blocks */
span.linenr {
    background: #FFFFFF;
    border-right: solid 2px rgb(108, 226, 108);
    color: rgb(175, 175, 175);
    margin-right: 10px;

}

pre.src {
    overflow:auto;
    border: 1px solid #DDDDDD;

}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 padding: 5px;
}		 


img.compare {
  float:left;
  max-width:50%;
  }


.syntaxhighlighter {
    border: 1px solid grey;
}
